html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

:root {
  --base-font: "Poppins", sans-serif;
  --base-font-size: 16px;
  --color-wh: #fff;
  --color-wh-rgb: 255, 255, 255;
  --color-bl: #000;
  --color-bl-rgb: 0, 0, 0;
  --color-gray: rgba(30, 30, 30, 0.5);
  --color-main: #c1dcdc;
  --color-main-rgb: 193, 220, 220;
  --color-text: #1e1e1e;
  --color-link: var(--color-main);
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--base-font);
  line-height: 1.6;
  font-size: var(--base-font-size);
  background-color: #ffffff;
  font-weight: 500;
  padding-top: 96px;
}

svg.icon {
  width: 1em;
  height: 1em;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1308px;
  margin: 0 auto;
  padding: 0 30px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.pos-absolute {
  position: absolute;
}

.header .input {
  border-radius: 12px;
  background: #fff;
  width: 449px;
  height: 64px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  padding-left: 18px;
  border: none;
}

.container-bigger {
  max-width: 1920px;
}

.categories .block4-holder {
  margin-top: 165px;
}
.categories .block4-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.categories .cat-upper-text {
  color: var(--color-text);
  font-family: var(--base-font);
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
.categories .cat-upper-desc {
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 18px;
  margin: 0;
}
.categories .cat-holder {
  margin-top: 96px;
  max-width: 1920px;
  background: var(--color-main);
  padding-left: 96px;
  padding-right: 96px;
  gap: 96px;
  justify-content: space-between;
}
@media screen and (max-width: 1180px) {
  .categories .cat-holder {
    margin-top: 24px;
  }
}
.categories .cat-holder .cat-holder:last-child {
  gap: 0px;
}
@media screen and (max-width: 1460px) {
  .categories .cat-holder {
    padding-left: 26px;
    padding-right: 26px;
    gap: 26px;
  }
}
@media screen and (max-width: 1180px) {
  .categories .cat-holder {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .categories .cat-holder {
    text-align: center;
  }
}
.categories .cat-left {
  margin-top: -48px;
}
@media screen and (max-width: 1180px) {
  .categories .cat-left {
    margin-top: 48px;
  }
}
.categories .cat-center {
  margin-top: 48px;
  text-align: center;
  margin-top: 48px;
}
.categories .cat-right {
  margin-top: -48px;
}
@media screen and (max-width: 1180px) {
  .categories .cat-right {
    margin-top: 12px;
    text-align: center;
  }
}
.categories .cat-img {
  max-width: 352px;
  max-height: 512px;
  border-radius: 12px;
  background: lightgray 50%/cover no-repeat, #FFF;
}
@media screen and (max-width: 1000px) {
  .categories .cat-img {
    width: 250px;
    height: 400px;
  }
}
.categories .cat-text {
  color: var(--color-text);
  font-family: var(--base-font);
  font-size: 18px;
  font-weight: 700;
}
.categories .cat-par {
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 18px;
}

.customers .customers-holder {
  margin-top: 96px;
  margin-bottom: 24px;
}
.customers .customers-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.customers .customers-text-holder {
  max-width: 30%;
}
.customers .customers-text {
  color: var(--color-text);
  font-family: var(--base-font);
  font-size: 32px;
  font-weight: 700;
}
.customers .figures {
  display: flex;
  flex-direction: row;
  margin-top: 46px;
}
.customers .rectangle-1 {
  width: 48px;
  height: 6px;
  border-radius: 12px;
  background: var(--color-main);
}
.customers .rectangle-2-3 {
  margin-left: 6px;
  width: 12px;
  height: 6px;
  border-radius: 12px;
  background: #D9D9D9;
}
.customers .customers-cards {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 1200px) {
  .customers .customers-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.customers .customer-card {
  width: 600px;
  height: 300px;
  border-radius: 12px;
  background: var(--color-main);
}
@media screen and (max-width: 670px) {
  .customers .customer-card {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 450px) {
  .customers .customer-card {
    height: 450px;
  }
}
@media screen and (max-width: 380px) {
  .customers .customer-card {
    height: 500px;
  }
}
.customers .customer-card-2 {
  margin-left: 24px;
}
@media screen and (max-width: 1200px) {
  .customers .customer-card-2 {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.customers .customer-text {
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 18px;
  padding: 24px;
  padding-bottom: 12px;
  margin: 0;
}
.customers .customer-rating {
  display: flex;
  flex-direction: row;
}
.customers .customer-img {
  margin-left: 12px;
  margin-right: 20px;
}
.customers .customer-desc {
  margin-right: 300px;
}
@media screen and (max-width: 670px) {
  .customers .customer-desc {
    margin-right: 100px;
  }
}
@media screen and (max-width: 450px) {
  .customers .customer-desc {
    margin-right: 50px;
  }
}
.customers .customer-name {
  color: var(--color-text);
  font-family: var(--base-font);
  font-size: 18px;
  font-weight: 700;
}
.customers .customer-work {
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 12px;
}
.customers .customers-stars {
  display: flex;
  flex-direction: row;
  position: relative;
}
.customers .icon-star {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 14px;
  right: 50%;
  transform: translateX(-50%);
  margin-right: 12px;
}
.customers .customer-rate {
  color: var(--color-text);
  font-family: var(--base-font);
  font-size: 18px;
  font-weight: 700;
}

.btn-green {
  border-radius: 8px;
  background: var(--color-main);
  width: 168px;
  height: 51px;
  border: var(--color-wh);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-white {
  padding: 12px 24px;
  gap: 10px;
  border-radius: 8px;
  background: #FFF;
  border: none;
  width: 147px;
  height: 51px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.button-arrow {
  position: relative;
  font-size: 21px;
}

.hamburger {
  --size: 2em;
  --size-stroke: 2;
  --time: 500ms;
  --color: #fff;
  cursor: pointer;
}
.hamburger input {
  display: none;
}
.hamburger svg {
  height: var(--size);
  transition: transform var(--time) cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger .line {
  fill: none;
  stroke: var(--color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: var(--size-stroke);
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hamburger .line-top-bottom {
  stroke-dasharray: 12 63;
}
.hamburger input:checked + svg {
  transform: rotate(-45deg);
}
.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.footer .footer-holder {
  background: var(--color-main);
  width: 100%;
  padding: 48px 96px;
}
@media screen and (max-width: 450px) {
  .footer .footer-holder {
    padding: 48px 30px;
  }
}
.footer .footer-holder .footer-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 860px) {
  .footer .footer-holder .footer-upper {
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }
}
.footer .footer-holder .footer-upper .footer-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 189px;
}
@media screen and (max-width: 450px) {
  .footer .footer-holder .footer-upper .footer-left {
    width: 100%;
  }
}
.footer .footer-holder .footer-upper .footer-left .logo-footer {
  width: 107px;
  height: 29px;
}
.footer .footer-holder .footer-upper .footer-left .footer-text {
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 18px;
}
.footer .footer-holder .footer-upper .footer-left.social-medias {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.footer .footer-holder .footer-upper .footer-left .icon {
  width: 48px;
  height: 48px;
}
.footer .footer-holder .footer-upper .footer-right {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
@media screen and (max-width: 450px) {
  .footer .footer-holder .footer-upper .footer-right {
    flex-direction: column;
    width: 100%;
  }
}
.footer .footer-holder .footer-upper .footer-right .footer-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 24px;
}
.footer .footer-holder .footer-upper .footer-right .footer-list-link {
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 18px;
  font-weight: 400;
}
.footer .footer-holder .footer-upper .footer-right .footer-list-link.active {
  color: var(--color-text);
  font-weight: 700;
}
.footer .footer-holder .footer-copyright {
  margin-top: 98px;
}
.footer .footer-holder .footer-copyright .copyright {
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 18px;
}

.header {
  margin-top: 20px;
}
@media screen and (max-width: 1125px) {
  .header {
    display: flex;
  }
}
.header .block1-text {
  color: var(--color-bl);
  font-size: 64px;
  font-weight: 800;
  line-height: 1.6;
  margin: 0;
}
.header .header-text-holder {
  max-width: 500px;
}
@media screen and (max-width: 1125px) {
  .header .header-text-holder {
    width: 100%;
    align-items: center;
  }
}
.header .header-holder {
  background-color: var(--color-main);
  padding: 22px 48px;
  border-radius: 24px;
  min-height: 512px;
  position: relative;
}
@media screen and (max-width: 450px) {
  .header .header-holder {
    padding: 22px 29px;
  }
}
@media screen and (max-width: 500px) {
  .header .number-list {
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
}
.header .number-item {
  color: var(--color-text);
  padding-right: 48px;
  margin-right: 48px;
  border-right: 1px solid var(--color-text);
}
@media screen and (max-width: 500px) {
  .header .number-item {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
  }
}
.header .number-item:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}
.header .number-item-big-num {
  font-size: 32px;
}
.header .number-item-text {
  font-size: 18px;
}
@media screen and (max-width: 450px) {
  .header .images-container {
    margin-top: 160px;
  }
}
.header .header-detail-1 {
  bottom: 20px;
  right: 530px;
}
@media screen and (max-width: 1500px) {
  .header .header-detail-1 {
    bottom: 30px;
    right: 560px;
    width: 120px;
    transform: rotate(0.91turn);
  }
}
@media screen and (max-width: 1275px) {
  .header .header-detail-1 {
    display: none;
  }
}
.header .header-detail-2 {
  top: 20px;
  right: 45px;
}
@media screen and (max-width: 1500px) {
  .header .header-detail-2 {
    height: 120px;
  }
}
@media screen and (max-width: 1275px) {
  .header .header-detail-2 {
    display: none;
  }
}
.header .header-detail-3 {
  bottom: 0;
  right: 80px;
}
@media screen and (max-width: 1125px) {
  .header .header-detail-3 {
    bottom: 22px;
    right: 100px;
  }
}
@media screen and (max-width: 585px) {
  .header .header-detail-3 {
    bottom: 0;
    height: 350px;
    right: 100px;
  }
}
@media screen and (max-width: 500px) {
  .header .header-detail-3 {
    right: -8%;
  }
}
.header .header-detail-4 {
  bottom: 0;
  right: 100px;
}
@media screen and (max-width: 1125px) {
  .header .header-detail-4 {
    position: static;
    display: block;
    margin-top: 80px;
  }
}
@media screen and (max-width: 585px) {
  .header .header-detail-4 {
    width: 100%;
    align-items: center;
    margin-bottom: -22px;
  }
}
.header .input {
  border-radius: 12px;
  background: #fff;
  width: 100%;
  height: 64px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  padding-left: 18px;
  border: none;
}
.header .input-icon {
  top: 50%;
  right: 23px;
  transform: translateY(-50%);
}
.header .input-around {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.header .box-input {
  position: relative;
  margin-top: 48px;
  max-width: 448px;
}
.header .box-input .btn-green {
  top: 7px;
  right: 7px;
  width: 50px;
  height: 50px;
  font-size: 25px;
}
@media screen and (max-width: 585px) {
  .header .box-input .btn-green {
    position: relative;
    width: 100%;
    box-shadow: 0 0 8px 0px #7fcbcb;
    right: 0;
    max-width: 93%;
    margin: 0 auto;
  }
}

.menu {
  padding: 44px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
}
.menu .menu-holder {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 860px) {
  .menu .menu-holder {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -200%;
    background-color: #fff;
    width: 100%;
  }
  .menu .menu-holder.active {
    top: 102px;
  }
  .menu .menu-holder .logo-link {
    display: none;
  }
}
.menu .menu-left {
  display: flex;
}
.menu .menu-mobile {
  display: none;
  z-index: 9999;
  position: relative;
}
@media screen and (max-width: 860px) {
  .menu .menu-mobile {
    display: flex;
    justify-content: space-between;
  }
}
.menu .logo-link {
  margin-right: 96px;
}
.menu .menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 48px;
}
@media screen and (max-width: 860px) {
  .menu .menu-list {
    gap: 18px;
    flex-direction: column;
    margin-bottom: 26px;
    padding: 20px 25px 0;
  }
}
.menu .menu-list-link {
  color: var(--color-gray);
  font-size: 18px;
  font-weight: 500;
}
.menu .menu-list-link.active {
  color: #000;
}
.menu .btn {
  padding: 24px;
  font-size: 24px;
  color: #000;
  transition: 0.25s;
}
.menu .btn:hover {
  color: #649393;
}
.menu .btn-menu {
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.catalogue {
  margin-top: 96px;
}
.catalogue .catalogue-holder {
  max-width: 1248px;
}
@media screen and (max-width: 950px) {
  .catalogue .catalogue-holder {
    flex-direction: column;
    align-items: center;
  }
}
.catalogue .catalogue-text-holder {
  max-width: 256px;
}
@media screen and (max-width: 950px) {
  .catalogue .catalogue-text-holder {
    max-width: 100%;
    align-items: center;
  }
}
.catalogue .block2-text {
  color: var(--color-text);
  font-family: var(--base-font);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}
.catalogue .block2-par {
  max-width: 196px;
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 18px;
  margin-bottom: 24px;
}
.catalogue .seller-text {
  color: var(--color-text);
  font-family: var(--base-font);
  font-size: 18px;
}
.catalogue .seller-price {
  color: var(--color-gray);
  font-family: var(--base-font);
  font-size: 18px;
}
@media screen and (max-width: 1325px) {
  .catalogue .bestsellers {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1325px) and (max-width: 950px) {
  .catalogue .bestsellers {
    margin-top: 65px;
  }
}
.catalogue .seller {
  margin-right: 48px;
}
@media screen and (max-width: 950px) {
  .catalogue .seller {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.description {
  margin-top: 50px;
}
.description .block3-main-text {
  color: var(--color-text);
  font-size: 18px;
  font-family: var(--base-font);
  font-weight: 700;
  text-align: center;
}
.description .block3-big-text {
  font-size: 32px;
}
.description .block3-par {
  color: var(--color-gray);
  text-align: center;
  font-family: var(--base-font);
  font-size: 18px;
}
.description .desc-holder {
  margin: 0 auto;
  padding: 0 96px;
}
@media screen and (max-width: 900px) {
  .description .desc-holder {
    padding: 86px 30px 106px;
  }
}
.description .functions-list {
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (max-width: 760px) {
  .description .functions-list {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.description .upper-text {
  text-align: center;
  margin: 0 0 48px;
}
.description .left-el {
  max-width: 400px;
  margin: 0 12px;
}
.description .center-el {
  max-width: 400px;
  margin: 0 12px;
}
.description .right-el {
  max-width: 400px;
  margin: 0 12px;
}
.description .img-func-list {
  width: 100%;
  max-width: 96px;
  max-height: 96px;
  display: block;
  margin: auto;
}